<div class="callout callout-light mb-5">
  <blockquote class="blockquote mb-0">
    <p class="text-left">
      &ldquo;We’re different from other firms because of our repeatable process, our structured communication, and the values we live and work by.&rdquo;
    </p>
    <footer class="blockquote-footer text-right">Ashley Janssen, Co-founder</footer>
  </blockquote>
</div>



<img src="/assets/images/ce-2017-33.jpg" alt="Code and Effect Office" class="img-fluid my-3">

<img src="/assets/images/ce-2017-20.jpg" alt="Code and Effect Office" class="img-fluid my-3">


<div class="container">
  <div class="callout callout-light mb-5">
    <blockquote class="blockquote mb-0">
      <p class="text-left">
        &ldquo;Our organization chose to work with Code and Effect to develop a new registration database. The process has been on budget and within very reasonable time frames. Dana and Matt fully understand the regulatory environment and can not only predict some common workflows and features that are needed, but can also provide valuable insight to improve how we complete common tasks. The bi-weekly check in’s and use of online tools to ensure each component is fully tested has been invaluable in providing assurance the final product will meet our organizational needs.&rdquo;
      </p>
      <footer class="blockquote-footer text-right">Derek Marcoux, Registrar, College of Applied Biology</footer>
    </blockquote>
  </div>
</div>


