<header class="jumbotron jumbotron-fluid jumbotron-footer">
  <div class="container">
    <h1 class="display-1">Imagine association software that does what you need.</h1>
    <p class="lead mb-5" style="max-width: 500px;">
      It's not a dream! We've done this since 2007
      and are excited to chat about what's possible.
    </p>
    <p class="mb-0"><a class="btn btn-primary btn-lg mb-0" href="https://calendly.com/danaj/30min-zoom" target="_blank" role="button">Schedule a free 30 minute Zoom call &rarr;</a></p>
  </div>
</header>

<footer class="footer">
  <div class="container footer-main">

    <nav class="footer-nav d-sm-flex justify-content-between">
      {% for item in site.menus.navbar %}
        {% if item.children %}
          <div class="mb-3">
            <h5 class="nav-title">{{ item.title }}</h5>
            <ul class="nav flex-column">
              {% for item in item.children %}
                <li class="nav-item">
                  <a class="nav-link nav-link-footer" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
      <div class="mb-3 text-right">
        <h5 class="nav-title">Get in touch</h5>
        <a href="tel:+17806198868">+1 780-619-8868</a>
        <br />
        <a href="mailto:hello@codeandeffect.com?subject=hey%20Dana!" target="_blank">hello@codeandeffect.com</a>
      </div>
    </nav>

    <div class="row">
      <div class="col">
        <div class="copyright">&copy; 2007-2020 Code and Effect</div>
      </div>
    </div>
  </div>
</footer>
