<div class="jumbotron jumbotron-fluid jumbotron-footer">
  <div class="container">
    <div class="display-1">
      Don’t get stuck with tools that can’t do what you need.
    </div>
    <p class="lead mb-5 mr-auto ml-auto" style="max-width: 600px;">
      Let's have a conversation about where your organization's technology currently stands and where you need it to go. We're happy to share our expertise and experience, so come on, pick our brains!
    </p>
    <p class="mb-0">
      <span class="btn btn-primary btn-lg mb-0"  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/danaj/30min-zoom?hide_event_type_details=1&hide_gdpr_banner=1'});return false;" role="button">Book a free chat &rarr;</span></p>
  </div>
</div>

<footer class="partners pt-3">
  <div class="container">
    <div class="text-center text-muted">Proud partners/supports of</div>
    <div class="row text-center logos justify-content-center">

      {% for partner in site.data.partners %}
        <div class="col-sm-3">
          <a href="{{ partner.website }}">
            <img src="/assets/images/partners/{{ partner.filename }}" alt="{{ partner.organization }}" class="img-fluid mt-2 mb-3" height="90" width="200">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</footer>

<footer class="footer">
  <div class="container footer-main">

    <nav class="footer-nav d-sm-flex justify-content-between">
      {% for item in site.menus.navbar %}
        {% if item.children %}
          <div class="mb-3">
            <h5 class="nav-title">{{ item.title }}</h5>
            <ul class="nav flex-column">
              {% for item in item.children %}
                <li class="nav-item my-1">
                  <a class="nav-link nav-link-footer" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endfor %}
      <div class="mb-3 text-right">
        <h5 class="nav-title">Get in touch</h5>
        <ul class="nav flex-column">
          <li class="nav-item my-1">
            <a href="tel:+17806198868" class="nav-link nav-link-footer">+1 780-619-8868</a>
          </li>
          <li class="nav-item my-1">
            <a href="mailto:hello@codeandeffect.com?subject=hey%20Dana!" class="nav-link nav-link-footer" target="_blank">hello@codeandeffect.com</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col">
        <div class="copyright">&copy; 2007-{{ 'now' | date: "%Y" }} Code and Effect</div>
      </div>
    </div>
  </div>
</footer>
