<div class="container mb-5 metrics">
  <div class="row py-5">
    <div class="col-sm my-3">
      <div class="border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/profile.svg" width=48 class="mb-2" role="img" %}
        <h3>75,000 <span>members served</span></h3>
      </div>
    </div>
    <div class="col-sm my-3">
      <div class="border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/clipboard.svg" width=48 class="mb-2" role="img" %}
        <h3>20,000 <span>applications to join</span></h3>
      </div>
    </div>
    <div class="col-sm my-3">
      <div class="border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/credit-card.svg" width=48 class="mb-2" role="img" %}
        <h3>140,000 <span>online payments</span></h3>
      </div>
    </div>
    <div class="col-sm my-3">
      <div class="border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/dollar.svg" width=48 class="mb-2" role="img" %}
        <h3>18 million <span>in collected dues</span></h3>
      </div>
    </div>
  </div>
</div>
