<div class="container mb-5 metrics">

  <div class="row pb-3">

    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/profile.svg" width=48 class="mb-2" role="img" %}
        <h3>135,000 <span>members</span></h3>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/clipboard.svg" width=48 class="mb-2" role="img" %}
        <h3>25,000 <span>applications to join</span></h3>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/credit-card-2.svg" width=48 class="mb-2" role="img" %}
        <h3>240,000 <span>orders processed</span></h3>
      </div>
    </div>

  </div>

  <div class="row pb-5">

    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/banknote.svg" width=48 class="mb-2" role="img" %}
        <h3>$49 million <span>in payments collected</span></h3>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/dollar.svg" width=48 class="mb-2" role="img" %}
        <h3>1.1 million <span>professional development hours tracked</span></h3>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/cloud.svg" width=48 class="mb-2" role="img" %}
        <h3>Canadian Hosting</span></h3>
      </div>
    </div>

  </div>

</div>
