<div class="container mb-5 metrics">

  <div class="row pb-5">
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/profile.svg" width=48 class="mb-2" role="img" %}
        <h3>100,000+ <span>active members</span></h3>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/clipboard.svg" width=48 class="mb-2" role="img" %}
        <h3>20,000+ <span>applications to join</span></h3>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/credit-card.svg" width=48 class="mb-2" role="img" %}
        <h3>140,000+ <span>payments processed</span></h3>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="metric border border-primary shadow rounded p-3">
        {% svg "/assets/images/icons/dollar.svg" width=48 class="mb-2" role="img" %}
        <h3>18 million+ <span>in collected dues</span></h3>
      </div>
    </div>
  </div>
</div>
