{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<nav class="navbar navbar-expand-md navbar-light pt-5 pb-0">
  <div class="container">
    <a class="navbar-brand" title="Code and Effect" href="{{ "/" | relative_url }}">
      {% svg "/assets/images/code-and-effect-logo.svg" width="195" height="40" role="img" %}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCE" aria-controls="navbarCE" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCE">
      <ul class="navbar-nav">
        {% for item in site.menus.navbar %}
          {% if item.children %}
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="dropdown-{{ item.identifier }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ item.title }}
              </a>

              <div class="dropdown-menu shadow" aria-labelledby="dropdown-{{ item.identifier }}">
                {% for item in item.children %}
                  <a class="dropdown-item" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
                {% endfor %}
              </div>
            </li>
          {% else %}
            <li class="nav-item nav-item-{{ loop.index }}">
              <a class="nav-link" href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>
</nav>
