<div class="container">
  <h2 class="page-subtitle mb-2">How we work</h2>
  <p class="mb-4">We work with you to scope and launch a completely custom <a href='/upside-ams'>Upside AMS</a> implementation:</p>

  <div class="row">
    {% for process in site.data.processes %}
      <div class="process col-sm-4 mb-5">
        <div class="process-step">
          {% svg "{{ process.icon }}" width=32 class="mb-2" role="img" %}
          Phase {{ process.step }}:
        </div>
        <h3><a href="{{ process.link }}" title="{{ process.title }}">{{ process.title }}</a></h3>
        <p>{{ process.description }}</p>
        <p><a href="{{ process.link }}" title="Learn more">Learn more &rarr;</a></p>
      </div>
    {% endfor %}
  </div>
</div>
