<div class="call mb-5 shadow rounded sticky-top">

  <div class="call-header mb-3">
    <img class="call-img rounded mx-auto d-block mb-2" src="/assets/images/dana-janssen-small.png" alt="Dana Janssen">
    <h4 class="call-name mb-1">Dana Janssen</h4>
    <h3 class="call-title mb-2">Book a free call</h3>
  </div>

  <div class="call-body">
    <div class="call-duration d-flex mb-2">
      <div class="mr-2">{% svg "/assets/images/icons/profile.svg" width=20 role="img" %}</div>
      <div class="flex-grow-1">30 minutes</div>
    </div>

    <div class="call-location d-flex mb-3">
      <div class="mr-2">{% svg "/assets/images/icons/pin.svg" width=20 role="img" %}</div>
      <div class="flex-grow-1">Zoom video conferencing</div>
    </div>

    <p class="call-description mb-3">
      A short chat where you will learn how we can help your organization.
      Pick a time, then receive a calendar invite with a Zoom link.
    </p>
  </div>

  <a class="call-button btn btn-block btn-primary" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/danaj/30min-zoom?hide_event_type_details=1&hide_gdpr_banner=1'});return false;">Book Now</a>

</div>
