<div class="call mb-5 shadow rounded sticky-top">

  <div class="call-header mb-3">
    <img class="call-img rounded mx-auto d-block mb-2" src="/assets/images/dana-janssen-small.png" alt="Dana Janssen">
    <h4 class="call-name mb-1">Dana Janssen</h4>
    <h3 class="call-title mb-2">30 Minute Call</h3>
  </div>

  <div class="call-body">
    <div class="call-duration d-flex mb-2">
      <div class="mr-2">{% svg "/assets/images/icons/Numbers - Members and customers - profile.svg" width=20 role="img" %}</div>
      <div class="flex-grow-1">30 min</div>
    </div>

    <div class="call-location d-flex mb-3">
      <div class="mr-2">{% svg "/assets/images/icons/Numbers - Members and customers - profile.svg" width=20 role="img" %}</div>
      <div class="flex-grow-1">You will receive a calendar invite with a Zoom link</div>
    </div>

    <p class="call-description mb-3">A quick chat on the phone. I'll call you!</p>
  </div>

  <a class="call-button btn btn-block btn-primary" href="https://calendly.com/danaj/60-min-call" target="_blank">Schedule Now</a>

</div>
