<div class="container solutions">
  <h2 class="page-subtitle">AMS solutions we implement</h2>
  <div class="row">
    {% for solution in site.data.solutions %}
      <div class="solution col-sm-6 mb-4">
        {% svg "{{ solution.icon }}" width=32 class="mb-2" role="img" %}
        <h3><a href="{{ solution.link }}" title="{{ solution.title }}">{{ solution.title }}</a></h3>
        <p>{{ solution.description }}</p>
        <p><a href="{{ solution.link }}" title="Learn more">Learn more &rarr;</a></p>
      </div>
    {% endfor %}
  </div>
</div>
