.callout {
  padding: 1rem;
  text-align: center;

  a { text-decoration: underline; }
}

.callout-dark {
  background: $black;
  color: $primary;
}

.callout-light {
  background: $primary;
  color: $black;
}
