.partners {
  background: #fff;
  border-bottom: solid 1px #ddd;
}

.footer {
  background: #444;
  font-size: 1rem;
  padding: 2.5rem 2.5rem 3.5rem 2.5rem;
  color: #bbb;
}

.footer h5 {
  color: #ddd;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.footer a { color: #bbb; }
.footer a:hover { color: $primary; }

.footer-main {
}

.copyright {
  width: 100%;
  border-top: solid 1px #ffffff1a;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
}
