.footer { }

.footer-main {
  font-size: 1rem;
  // background: #f7f7f7;
  color: $black;
  padding: 2rem 0 3rem 0;
}


.copyright {
  padding: 0.25rem 0;
  font-size: 0.75rem;
}

.address {
  padding: 0.25rem 0;
  margin-bottom: 1rem;

  a { color: $black; }
}
