.jumbotron {
  background: none;
}

.display-1 {
  margin-bottom: 1rem;
  max-width: 750px;
  line-height: 1.1;

  @include media-breakpoint-down(sm) {
    font-size: 2.5rem;
  }
}

.lead {
  color: $text-muted;
}

