.jumbotron {
  padding: 4rem 2rem;
  text-align: left;
  margin-bottom: 3rem;
}

.jumbotron a { text-decoration: underline; }

.jumbotron-home {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.display-1 {
  margin-bottom: 1rem;
  max-width: 600px;

  @include media-breakpoint-down(sm) {
    font-size: 2.5rem;
  }
}

.lead {
  color: $text-muted;
}

