.page {
  padding-top: 4rem;
  max-width: 670px;
  margin: 0 auto;
}

.page-home {
  padding-top: 4rem;
}

.page-home .page-title-subtext { max-width: 670px; margin: 0 auto; }

.page-title {
  font-size: 2rem;
}

.page-header {
  margin-bottom: 4rem;
}

.page-title-subtext {
  font-style: italic;
  text-align: center;
  color: $gray-700;
  margin: 0;
}

.page-title {
  text-align: center;
}

.page-subtitle {
  text-align: center;
  margin-bottom: 2rem;
}
