.page {
  padding-top: 4rem;
  max-width: 670px;
  margin: 0 auto;
}

.page-title {
  font-size: 2rem;
  z-index: 10;
}

.page-header {
  margin-bottom: 4rem;
}

.page-title-subtext {
  font-style: italic;
  text-align: center;
  color: $gray-700;
  margin: 0;
  z-index: 10;
}

.page-title {
  text-align: center;
}

.page-subtitle {
  margin: 3rem 0 2rem 0;
}

.value,
.solution,
.organization {
  margin-bottom: 1rem;
}

.solution h3 a,
.organization h3 a { color: $body-color; text-decoration: none; }

.solution a:hover,
.organization h3 a:hover { color: $primary; text-decoration: underline; }


.metrics { text-align: center; }
.metrics .border { border-width: 2px !important; }
.metrics span { display: block; font-weight: 300; }

hr {
  border: none;
  background: $primary;
  max-width: 900px;
  margin: 0 auto 3rem auto;
  height: 5px;
  border-radius: 5px;
}
