.page {
  padding-top: 4rem;
  max-width: 670px;
  margin: 0 auto;
}

.page-title {
  font-size: 2rem;
  z-index: 10;
}

.page-header {
  margin-bottom: 4rem;
}

.page-title-subtext {
  font-style: italic;
  text-align: center;
  color: $gray-700;
  margin: 0;
  z-index: 10;
}

.page-title {
  text-align: center;
}

.page-subtitle {
  margin: 3rem 0 2rem 0;
}

.value,
.service,
.customer {
  margin-bottom: 1rem;
}

.metric svg { color: #fafafa; }

.value svg { color: $primary; }


.service svg { color: $primary; }
.service a { color: $body-color; }
.service a:hover { color: $primary; }
