---
layout: default
---

<div class="container">
  <header class="jumbotron jumbotron-fluid pb-2 mb-0">

    <h1 class="display-1">{{ page.title | escape }}</h1>

    {% if page.subtext %}<p class="lead mb-0">{{ page.subtext }}</p>{% endif %}

    {% if page.bullets %}
      <ul>
        {% for bullet in page.bullets %}
          <li class="lead">{{ bullet }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </header>

  <div class="row">
    <div class="col">
      <article class="page">
        {{ content }}
        {% include people.html %}
        {% include core_values.html %}
      </article>
    </div>
  </div>
</div>
