---
layout: default
---

<header class="jumbotron jumbotron-fluid jumbotron-home pb-3 mb-5">
  <div class="container">
    <h1 class="display-1">Association management software that does exactly what you need.</h1>

    <p class="lead mb-4">We custom develop cloud-based software that matches your rules, bylaws, and regulatory requirements. Simplify your processes, empower your members, and run your organization with ease.</p>

    <p class="text-right">
      <a class="btn btn-primary btn-lg" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/danaj/30min-zoom?hide_event_type_details=1'});return false;" role="button">
        Book a free 30 minute Zoom call &rarr;
      </a>
    </p>
  </div>
</header>


{% include metrics.html %}

{% include solutions.html %}


<div class="container">
  <h2 class="page-subtitle">Organizations we partner with</h2>

  <div class="row">
    {% for organization in page.organizations %}
      <div class="organization col-sm-6 mb-5">
        <h3>{{ organization.title }}</a></h3>
        <p>
          {{ organization.you }}
          {{ organization.we }}
        </p>
      </div>
    {% endfor %}
  </div>


  <div class="row text-center logos">
    <div class="col-sm mb-5"><img src="/assets/images/logos/logo-aspb.png" alt="ASPB Logo" class="img-fluid"></div>
    <div class="col-sm mb-5"><img src="/assets/images/logos/logo-cab.png"  alt="CAB Logo"  class="img-fluid"></div>
    <div class="col-sm mb-5"><img src="/assets/images/logos/logo-aala.png" alt="AALA Logo" class="img-fluid"></div>
    <div class="col-sm mb-5"><img src="/assets/images/logos/logo-acpa.png" alt="ACPA Logo" class="img-fluid"></div>
  </div>
</div>

{% include processes.html %}
