---
layout: default
---

<header class="jumbotron jumbotron-fluid jumbotron-home pb-3 mb-5">
  <div class="container">
    <h1 class="display-1">We create and support custom association management software that works exactly how you need.</h1>

    <p class="lead mb-4">Custom developed cloud-based software matches your rules, bylaws, and regulatory requirements. The results are streamlined processes, empowered members, and an organization that runs smoothly.</p>

    <p class="text-right">
      <a class="btn btn-primary btn-lg" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/danaj/30min-zoom?hide_event_type_details=1'});return false;" role="button">
        Book a free 30 minute Zoom call &rarr;
      </a>
    </p>
  </div>
</header>


{% include metrics.html %}

{% include solutions.html %}


<div class="container">
  <h2 class="page-subtitle">Organizations we partner with</h2>

  <div class="row">
    {% for organization in page.organizations %}
      <div class="organization col-sm-6 mb-5">
        <h3>{{ organization.title }}</h3>
        <p>
          {{ organization.you }}
          {{ organization.we }}
        </p>
      </div>
    {% endfor %}
  </div>


  <div class="row text-center logos justify-content-center">
    {% for logo in site.data.logos %}
      <div class="col-sm-3 mb-5 ">
        <img src="/assets/images/logos/{{ logo.filename }}" alt="{{ logo.organization }}" class="img-fluid">
      </div>
    {% endfor %}
  </div>
</div>

{% include processes.html %}
