---
layout: default
---

<div class="container">
  <div class="row">

    <div class="col-sm-8">
      <header class="jumbotron jumbotron-fluid">

        <h1 class="text-muted" style="font-size: 1rem;">{{ page.title | escape }}</h1>
        <p class="display-1">Put member information at your fingertips</p>

        {% if page.subtext %}<p class="lead mb5">{{ page.subtext }}</p>{% endif %}

        {% if page.bullets %}
          <ul>
            {% for bullet in page.bullets %}
              <li class="lead">{{ bullet }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </header>

      <article class="page">
        <div class="post-content">{{ content }}</div>
      </article>
    </div>

    <div class="col-sm-4">
      {%- include schedule-call.html -%}
    </div>

  </div>
</div>


