---
layout: default
---

<div class="container">
  <header class="jumbotron jumbotron-fluid">

    <h1 class="display-0">{{ page.title | escape }}</h1>
    <p class="display-1">{{ page.titletext | escape }}</p>

    {% if page.subtext %}<p class="lead">{{ page.subtext }}</p>{% endif %}

    {% if page.bullets %}
      <ul>
        {% for bullet in page.bullets %}
          <li class="lead">{{ bullet }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </header>

  <div class="row">
    <div class="col-sm-7">
      <article class="page">
        <div class="post-content">{{ content }}</div>
      </article>
    </div>

    <div class="col-sm-4 offset-sm-1">
      {%- include schedule-call.html -%}
    </div>

  </div>
</div>


