---
layout: default
---

<h2 class="page-subtitle">Our Core Values</h2>
<div class="row mb-5">
  {% for value in page.values %}
    <div class="value col-sm-6">
      {% svg "{{value.value_icon}}" width=32 class="mb-2" %}
      <h3>{{ value.value_title }}</h3>
      <p>{{ value.value_description }}</p>
    </div>
  {% endfor %}
</div>


<div class="container">
  <article class="page">
    <header class="page-header">
      <h1 class="page-title">{{ page.title | escape }}</h1>

      {% if page.subtext %}
        <p class="page-title-subtext">{{ page.subtext }}</p>
      {% endif %}
    </header>

    <div class="post-content">
      {{ content }}

      {% for person in page.people %}
        <div class="row person mb-5">
          <div class="col-sm-auto text-align: center;">
            <img src="/assets/images/{{ person.image }}" alt="{{ person.name }}" class="img-fluid mb-2">
          </div>
          <div class="col">
            <h2 class="mt-0 mb-0">{{ person.name }}, {{ person.title }}</h2>
            <ul class="list-inline">
              {% if person.github %}
                <li class="list-inline-item"><a href= "{{ person.github }}">GitHub</a></li>
              {% endif %}

              {% if person.linkedin %}
                <li class="list-inline-item"><a href= "{{ person.linkedin }}">LinkedIn</a></li>
              {% endif %}

              {% if person.twitter %}
                <li class="list-inline-item"><a href= "{{ person.twitter }}">Twitter</a></li>
              {% endif %}
            </ol>
            <p>{{ person.description }}</p>

          </div>
        </div>
      {% endfor %}
    </div>
  </article>
</div>
