body {
  background: $primary;
}

.main {
  // background: #fafafa;
  background: #fdfdfd;
  padding-bottom: 3rem;
}

h2, .h2 {
  margin-top: 2rem;
}

h3, .h3 {
  font-family: $font-family-sans-serif;
  font-weight: 600;
}
